.bh_banner{
    /*width:80%;*/
    /*width:300px;*/
    margin:10px auto;
    border-radius:20px;
    background-color:rgba(0,0,0,.8);
    color:white;
    padding:10px;
    position:relative;
    z-index:10;
    text-align:center;
    box-sizing:border-box;

}
.bh_banner_vertical{

}
.bh_banner_vertical.medium{
    width:200px;
    min-height:550px;    

}
.bh_banner_vertical.min{
    width:150px;
    min-height:450px;

}
.bh_banner_horizontal{
    display:inline-block;
}
.bh_banner_horizontal.medium{
    min-width:800px;    
    /*width:700px;*/
    height:150px;
    
}
.bh_banner_horizontal.min{
    min-width:550px;
    height:120px;    
}
.div_banner{
    overflow:hidden;
    /*width:250px;*/
}
.bh_banner_horizontal .div_banner{
    
    /*min-height:120px;*/
    /*display:inline-block;*/
    
    align-items:center !important;
    vertical-align: middle;
    display:inline-flex;
    margin:auto 10px;
}
.bh_banner_horizontal .div_banner.medium{    
    min-width:230px;
    height:130px;
}
.bh_banner_horizontal .div_banner.min{
    min-width:150px;
    height:100px;
}
.bh_banner_vertical .div_banner.medium{
    min-height:180px;
}
.bh_banner_vertical .div_banner.min{
    min-height:130px;
}
.bh_banner_vertical .div_banner{
    
    /*align-items permite centrar verticalmente el texto en el div*/
    align-items:center !important;
    /*en un primer momento inline-block, finalmente inline-flex:
    inline-block no permite la alteración del div mientras inline-flex es variable y se 
    va agrandando o encogiendo según la imagen dentro del div (en el caso de imágenes).
    Para solucionar esto se añade vertical-align:middle y se asigna a todos los divs 
    el inline-flex (tanto para textos como para imágenes) en lugar de tener que asignar
    dinámicamente desde setType() inline-block para unos y inline-flex para otros*/

    /* el vertical-align:middle es necesario para que las imágenes no agranden o encojan el
    banner al cambiar de una a otra*/
    vertical-align: middle;
    /*probando que en la opción vertical no se agranda ni se encoge con inline-flex,
    probar con horizontal*/
    display:inline-flex;    
    /*display:inline-block;*/
    
}


.bh_banner_horizontal .text_banner{
    line-height:30px;
    
    margin: 10px auto;
}
.bh_banner_vertical .text_banner{
    line-height:40px;

}

.text_banner{
    /*font-size:25px;*/
    color:white;    
    font-size:null;
    letter-spacing: 1px;
    position:relative;
    
    /*transition:opacity 0.3s linear, width 1s linear, top 0.5s linear;*/
    transition:all 0.6s linear;
    
}
.img_banner{
    max-width:100%;
    max-height:100%;        
    margin:auto;
    position:relative;
    transition:all 0.6s linear;
}

.bh_banner p{
    /*transition:all 3s linear;*/
}


.text1{
    font-family:nikaia;
    font-size:18px;
}