html,body{
	margin:0;height:100% !important;
	/*min-width:540px !important;*/

}
.nav{
    /*primary vue material*/
    /*background-color:#448aff;*/
    /*accent vue material*/
	/*background-color:#ff5252;*/
    /*background:linear-gradient(to bottom, rgba(125, 38, 205,1) 10%, rgba(125,38,205,.8), rgba(125, 38, 205,1) 90%);*/
    width:100%;
    /*background:linear-gradient(to bottom, rgba(99, 0, 228,.8) 0%, rgba(99,0,228,1), rgba(99, 0, 228,.8) 100%);*/
    background:linear-gradient(to bottom, rgba(160, 55, 157,.8) 0%, rgba(160,55,157,1), rgba(160, 55, 157,.8) 100%);

    /*background:linear-gradient(to bottom, rgba(217, 54, 144,1) 0%, rgba(217, 54, 144,.8), rgba(217, 54, 144,1) 100%);*/
    /*background-color:#d93690;*/
    
    /*fondo negro*/
    /*background:linear-gradient(to bottom, rgba(0, 0, 0,1) 0%, rgba(0, 0, 0,.6), rgba(0, 0, 0,1) 100%);*/


    /*d93690*/
    /*background:linear-gradient(to bottom, rgba(58, 58, 58,.8) 0%, rgba(58,58,58,1), rgba(58,58, 58,.8) 100%);*/
	padding:0;
	position:relative;
    /*mantenemos el z-index del componente header en 1 , ya que desde la opción
    //pantalla completa del componente Collections genera error al linkear al MainPanel,
    //al colocar z-index a 1 no permite acceder al ningún elemento del nav, el problema es
    //que el cutpanel si necesita acceder*/
	z-index:1;
}

                    /*genéricos*/

.primary{
    /*background-color:#448aff !important;*/

    /*background:linear-gradient(to bottom, rgba(0,0,0,.3) 0%, rgba(0,0,0,.8), rgba(0,0,0,.3) 100%) !important;*/ /*fondo negro transparente*/
    background-color:#705ba1 !important; /* azulado*/
    /*background-color:#3967ff !important;*/ /*azul*/
    /*background-color:#8c51ac !important;  */ /*púrpura*/
    /*background-color:#f89b00 !important;*/ /*calabaza*/
}
.accent{
    /*background-color:#ff5252 !important;    */
    /*background-color:#26ada7 !important;*/
    background:linear-gradient(to bottom, rgba(38,173,167,.7) 0%, rgba(38,173,167,1), rgba(38,173,167,.7) 100%) !important;
    /*#26ada7*/
}
.inlineB{
    display:inline-block;
}
.floatL{
    float:left;
}
.floatR{
    float:right;    
}
.m_auto{
    margin:auto;
}
.t_center{
    text-align:center;
}
.c_orange{
    color:orange;
}
.p_auto{
    padding:auto;
}
.p_top2{
    padding-top:2px;
}
.d_in_block{
    display:inline-block;
}
.d_block{
    display:block;
}
.m_top30{
    margin-top:30px;
}
.m_top10{
    margin-top:10px;
}
.m_top5{
    margin-top:5px;
}
.m_left15{
    margin-left:15px;
}
.clearL{
    clear:left;
}
/*usado en watermark (Effect panel)*/
.icon_rotate{
    transform:scale(1,-1);
}
                /*dialogs*/
/*dialogs*/
.confirmDialog .md-dialog-container,.confirmDialog .md-dialog-container span{
    background:linear-gradient(to bottom, rgba(99, 0, 228,.8) 0%, rgba(99,0,228,1), rgba(99, 0, 228,.8) 100%);
    color:white ;
}
.confirmDialog .md-dialog-content{
    color:white;
}
.confirmDialog .md-button-content{
    color:white;
}

.confirmDialog{
    height:auto;
    z-index:106 !important;
    position:absolute;
    /*necesario auto en bottom para sobreescribir los estilos del md-dialog*/
}


.session-panel-dialog{
    background:rgba(0,0,0,.8) !important; 
    z-index:110 !important;
}
.dialog-alert-email{
    background:rgba(0,0,0,.8) !important; 
    z-index:111 !important;
}

				/* MAIN PANEL */
.back-main-panel{
    /*asignar en javascript el min-width*/
	min-width:110px;
	width:600px;
	margin:auto;
	display:block;
	position:relative;
	text-align:initial;
}
.back-effect-panel{
    margin:auto;    
    text-align:initial;
}
.back-main-panel label{
    height:20px;
    margin:0 auto;
    color:white;
    font-family:"ManiaExtendedC",ManiaExtendedC;
}
.back-main-panel label p{    
    border-radius:10px;
    padding:7px;
    background-color:rgba(0,0,0,.8);
    font-size:18px;
}
.button-nav-mainpanel{
    margin:auto;
    text-align:center;
    width:170px
}
/*revisar si es necesario*/
/*
.labels-mainpanel{
    margin:auto;
    text-align:center
}
*/
.md-button.fab_button_head {
    
}

.div-main{
	clear:left;	
	width:600px;
	margin:10px auto;
	position:relative;
	z-index:4;
	border-radius:10px;
}
.main-panel {
	/*width:600px;
	position:relative;
	z-index:4;
	margin:auto;*/
	/*background-color:red;
	color:orange;*/
}
.main-img{
	position:absolute;
	z-index:2;
    /*necesario para sobreescribir el height:auto que incorpora vue material*/
	height:100% !important;
	
}
.main-img-resize{
    
    border-radius:10px;

}
#canvas{
	position:absolute;
	z-index:3;
    

}

.free_resize_activated{
    background-color:lightblue !important;
}

.no-selectable{
	user-select:none;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
}

						/* fin MAIN PANEL */
						/* CUT PANEL */



                        /*caja y cuadrante*/
.back-box-panel{
    width:100%;
    height:100%;
    position:absolute;
    /* descontamos 40px del botón de recorte + 5px de margin-top para el botón, si no se queda muy pegado*/
    /*margin:50px auto;*/ 
    margin:5px auto;
    /*padding-bottom:100px;*/
    z-index:103;
    
    transition:all 2s ease-in-out;
    
    /*user-select:none;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;*/
}
#back-box-panel{
    background:transparent;    
    /*z-index:103;*/
}
.box-panel{
	margin:auto;
    margin-top:8px;
    width:0px;
    height:0px;
    /*background-color:rgba(255,255,255.3);*/
    z-index:105;
    /*border:solid #b7ffc6;*/
    position:relative;
    user-select:none;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;

    
}
#square-panel{
    /*si se modifica el porcentaje revisar que en boxPanel y Square tengan el parseInt el width*/
	width:30%;  
  	height:30%;
    /*el min-width funciona solo con right, con left se mueve el cuadro*/
    min-width:50px;
    min-height:50px;
    /*min-width:128px;*/
    /*el min-height funciona solo con bottom, con top se mueve el cuadro*/
    /*min-height:128px;*/
  	color:white;
  	outline: 4px solid #b0b0b0;
	z-index:105;
	background-color:transparent;
	/*padding:10px 12px;*/
	
	cursor:move;  
	position:relative;
	top:0px;left:0px;
    box-sizing:border-box !important;

}

.box-square{
    background-color:rgba(0,0,0,.5);
    margin:auto;
    overflow:hidden;
    width:100%;height:100%;
    z-index:104;
    position:absolute;
    pointer-events:none;
}
.box-square-effect{
    background-color:rgba(0,0,0,.5);
    margin:auto;
    overflow:hidden;
    width:100%;height:100%;
    z-index:106;
    position:absolute;
    pointer-events:none;   
}
#box-square-effect{
    display:none;
    position:absolute;
    transition:all 5s linear;
}

.box-img{
    /*necesario max-width para sobreescribir el que trae vue-material por defecto, si no no realiza el efecto*/    
    
    /*max-width:1280px;*/
    
	z-index:104;pointer-events:none;/*width:100%;height:100%;*/
    user-select:none;
    -webkit-user-select:none;    
    -moz-user-select:none;
    -ms-user-select:none;
    user-drag:none;
    -webkit-user-drag:none;
    -moz-user-drag:none;
    -ms-user-drag:none;
    

}
#box-img-main{
    margin:0;position:relative;/*necesario abolute para clip*/
}
.box-img-effect{
    /*necesario max-width para sobreescribir el que trae vue-material por defecto, si no no realiza el efecto*/    
    
    /*max-width:1280px;*/
    
    z-index:104;pointer-events:none;/*width:100%;height:100%;*/
    user-select:none;
    -webkit-user-select:none;    
    -moz-user-select:none;
    -ms-user-select:none;
    user-drag:none;
    -webkit-user-drag:none;
    -moz-user-drag:none;
    -ms-user-drag:none;
    

}
#box-square-clone{
    overflow:hidden;
    z-index:110;
    transition:all 1s linear;
}

                /*panel de imagen */
.back-cut-panel{
	width:100%;
	height:100%;			
	z-index:101;

	margin:126px auto; /*50 + 76 del elemento nav, ya que el back-cut-panel es un dialog*/
}

#back-cut-panel{
	height:auto;
    z-index:102;
    position:absolute;
    /*necesario auto en bottom para sobreescribir los estilos del md-dialog*/
    top:0%;left:0%;right:auto;bottom:auto;

}
#back-cut-panel .md-dialog-container{
    background:transparent ;
    box-shadow: none;
}
.cut-panel{
	height:100%;
    position:relative;
    margin:auto;
    z-index:102;
    
    
    text-align: center;
    background:transparent;

}

.panel-img{
	
}



						/* fin CUT PANEL */


                        /* collections   */

.list-item{
    width:17%;
    min-width:250px;
    display:inline-block;
    margin:0 10px;
    box-shadow:none;
    opacity:1;
}

.pagination li{
    display:inline-block;
}
.pagination li .md-ripple{
    padding-top:7px;
    font-size:16px;
}

/*transitions vue */



/* transition fade presente en Main panel, Cut panel, Effect panel*/

.fade-enter-active{
    transition:opacity 1s
}
.fade-leave-active{
    opacity:1;
}
.fade-enter, .fade-leave-to{
    opacity:0;
}

/* fin transition fade */

/* transition fadeimg presente en Collections panel*/


.fadeimg-enter-active{
    transition:all 1s;
    
}
.fadeimg-leave-active{
    opacity:1;
}
.fadeimg-enter, .fadeimg-leave-to{
    opacity:0;
}

/* fin transition fadeimg */

/*pasado a Collections (<style>), si se usa aquí necesario añadir !important*/
/* transition-group list presente en Collections panel*/
.list-enter-active{
    transition:transform 1s ease-out,opacity 1.5s linear !important;
}

.list-enter{
    /*position:absolute;*/
    transform:rotateY(360deg) scale(0) !important;
    opacity:0 ;
}

.list-leave-to,.list-leave-active{
    /*opción con position:absolute para pasar de página*/;
    position:absolute !important; /*añade suavidad entre componentes y da un efecto distinto*/
    opacity:1 ;
}
.list-move{
    transition:transform 0.5s !important;
}
/* fin transition list */

                        /* fin collections   */



                        /* Effect panel     */
.btn_clear_check{
    display:inline-flex;
    border:rgba(0,0,0,0.2) 2px solid;
    padding:3px 8px;
    border-radius:10px
}


.div_effect_image{
    padding:0px !important;
}

/*sobreescribiendo componente colorpicker verte para cursor*/
.verte button{
    cursor:pointer;
}
input[type=range]{
    cursor:pointer;
}
.colorpicker{
    padding-top:10px;border-radius:5%
}
.colorpicker:hover{
    background-color:rgba(0,0,0,0.12);
}
.inputFontSize:hover{
    background-color:rgba(0,0,0,0.12);  
}

.range{
    color:blue;font-weight:bold
}

.load_new_image{
    
    margin:auto;
    background-color:white;
    padding:20px;    
    position:absolute;
    top:50%;left:50%;
    transform:translate(-50%,-50%);
}

/* para los 3 efectos fussion, watermark, create-watermark*/
.buttons_composite{
    margin:0px 6px;
}

/*
Primary: #448aff => Blue A200
Accent: #ff5252 => Red A200
*/

/*Effect - create-watermark*/
.expand_wmInput{
    max-height:200px;overflow:auto
}

/*fonts*/
@font-face{
    font-family:usuzi;
    src:url(../fonts/usuzi.ttf);
}
@font-face{
    font-family:abduction;
    src:url(../fonts/abduction2002.ttf);
}
@font-face{
    font-family:corporate;
    src:url(../fonts/corporateroundedextrabold.ttf);
}
@font-face{
    font-family:designer;
    src:url(../fonts/designer-block.regular.ttf);
}
@font-face{
    font-family:fontanero;
    src:url(../fonts/Fontanero-FFP.ttf);
}
@font-face{
    font-family:futura;
    src:url(../fonts/FUTURAB.ttf);
}
@font-face{
    font-family:glsnecb;
    src:url(../fonts/GLSNECB.TTF);
}
@font-face{
    font-family:nikaia;
    src:url(../fonts/Nikaia_Medium.ttf);
}
@font-face{
    font-family:timesnewroman;
    src:url(../fonts/timesbd.ttf);
}
@font-face{
    font-family:ubuntu;
    src:url(../fonts/Ubuntu-Title.ttf);
}
@font-face{
    font-family:yanone;
    src:url(../fonts/Yanone-Bold.otf);
}
@font-face{
    font-family:zerogirl;
    src:url(../fonts/ZEROGIRL.TTF);
}

                        /* fin Effect panel */
                        /* Home panel */

.home_image{
    
    
}
.polaroid{
    background:url("../../../public/img/home/fun.jpg");
    width:300px;
    height:200px;    
    margin-top:100px;
    margin-left:100px;
    position:relative;
    background-position:center;
    background-size:100%;
    background-repeat:no-repeat;
}
.radius{
    background:url("../../../public/img/home/oso_polar.png");
    width:300px;
    height:200px;    
    margin-top:100px;
    margin-left:100px;
    position:relative;
    background-position:center;
    background-size:100%;
    background-repeat:no-repeat;
}


                        /* fin Home panel */




    								/* handle resize */

.handle-resize{
	background:radial-gradient(white,#454545);
	border:2px dashed white;
	width:40px;
	height:40px;
	position:absolute;
	border-radius:50%;
	z-index:999;
}
.handle-resize-min{
    width:30px;
    height:30px;
}
.handle-top
{
    top:-14px;
}
.handle-bottom
{    
    bottom:-14px;
}
.handle-right
{    
    right:-14px;    
}
.handle-left
{    
    left:-14px;    
}
.cursor-handle-resize
{
    cursor:nwse-resize;
}

						/* fin handle resize */
						/*handle */

    /*handles*/
.handle
{
    /*background-color: #000;*/
    /*background:radial-gradient(white,#1c1c1c);*/
    
    position:absolute;
    
    border:none;
    width: 50px;
    height: 20px;
    z-index: 110;
    user-select:none;
    
    /*border-radius:50%;*/
    
    
}
.handle_imgTop
{
    width:100%;height:100%;
    background-image:url("../img/boton_handle.png");
    background-repeat:no-repeat;
    background-position:center;
    background-size:80%;
    transform:rotate(0deg);
    
    
}
.handle_imgTop:active
{
    background-image:url("../img/boton_handle_active.png");
    
    
}
.handle_imgRight
{
    width:100%;height:100%;
    background-image:url("../img/boton_handle.png");
    background-repeat:no-repeat;
    background-position:center;
    background-size:80%;
    transform:rotate(90deg);
}
.handle_imgRight:active
{
    width:100%;height:80%;
    background-image:url("../img/boton_handle_active.png");
    
}
.handle_imgLeft
{
    width:100%;height:100%;
    background-image:url("../img/boton_handle.png");
    background-repeat:no-repeat;
    background-position:center;
    background-size:80%;
    transform:rotate(270deg);
    padding:0;margin:0;
}
.handle_imgLeft:active
{
    
    background-image:url("../img/boton_handle_active.png");
    
}
.handle_imgBottom
{
    width:100%;height:100%;
    background-image:url("../img/boton_handle.png");
    background-repeat:no-repeat;
    background-position:center;
    background-size:80%;
    transform:rotate(180deg);
}
.handle_imgBottom:active
{
    
    background-image:url("../img/boton_handle_active.png");
    
}

.handle2
{
    background:radial-gradient(white,#454545);
    border:2px dashed white;
    width: 40px;
    height: 40px;    
    position:absolute;
    border-radius:50%;
    z-index:999;
}
.handle_top
{
    top:-14px;
}
.handle_bottom
{    
    bottom:-14px;
}
.handle_right
{    
    right:-14px;    
}
.handle_left
{    
    left:-14px;    
}
.cursor1
{
    cursor:nwse-resize;
}
.cursor2
{
    cursor:nesw-resize;
}
.left
{
    cursor:ew-resize;
    left:-35px;
    top:50%;
    
    transform:translate(0,-50%);
    
}

.right
{
    cursor:ew-resize;
    right:-35px;
    top:50%;
    
    transform:translate(0,-50%);
}
.bottom
{
    transform:rotate(180deg);
    cursor:ns-resize;
    bottom:-20px;    
       left:50%;
    transform:translate(-50%,0);
    
}
.top
{
    cursor:ns-resize;
    top:-20px;
    left:50%;        
    transform:translate(-50%,0%); 
}

    /*fin handles*/


    /*efecto parpadeo */
/*codigo para efecto parpadeo*/
.animated {
 -webkit-animation-duration: 2s;
 animation-duration: 2s;
 -webkit-animation-fill-mode: both;
 animation-fill-mode: both;
}
@-webkit-keyframes flash {
    0%, 50%, 100% {
        opacity: 1;
    }
    25%, 75% {
        opacity: 0;
    }
}

@keyframes flash {
    0%, 50%, 100% {
        opacity: 1;
    }
    25%, 75% {
    opacity: 0;
    }
}
.flash {
 -webkit-animation-name: flash;
 animation-name: flash;
}

    /*fin efecto parpadeo */

    /* efecto borroso (gausiano) en box-panel*/


 /*support backdrop-filter */                
@supports ( (-webkit-backdrop-filter: blur(1px)) or (backdrop-filter: blur(1px)) ) 
{
  .effect 
  {
    -webkit-backdrop-filter: blur(3px);
            backdrop-filter: blur(3px);
            background-color:rgba(255,255,255,.3);
  }
}
/*revisar*/

/* no support backdrop-filter */

@supports ( not ( (-webkit-backdrop-filter: blur(1px)) or (backdrop-filter: blur(1px)) ) ) {
  /*añadimos #cut-panel en lugar de .cut-panel para poder aprovechar el .cut-panel para
  el caso de que la imagen sea menor a 100px menor al cuadrado de recorte*/
  #cut-panel 
  {
    -webkit-filter: grayscale(100%) blur(3px);
            filter: grayscale(100%) blur(3px);
  }
}


